# Meus
*.zip
*.exe
*.ini
*.log
*.pdb
*.manifest
*.[Cc]ache
*.resources
*.FileListAbsolute.txt
**/TemporaryGeneratedFile*
*.pdf
*.txt
*.lnk
*.tmp
*.scc
*.REG
*.CTL
*.ENV
*.RET
*.suo
*.rtf
*.csproj.user
*.vsidx



#Não Pastas
**/[Dd]ebug/
**/.vs/
[Oo]bj/
**/[Rr]elease/
[Pp]ackages/
_Bibliotecas/
.nuget/
v17/
PublishProfiles/
.claude/
openspec/